<script type="text/template" class="quickbuy-placeholder-template" data-product-id="{{ product.id }}">
<div class="quickbuy-form placeholder">
  <span class="loading-spinner"></span>
</div>
</script>
