<section class="section border-top" data-cc-animate>
  <div class="container">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Apps",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
