{%- unless template == 'gift_card' -%}
		{%- if section.settings.show_locale_selector == true or section.settings.show_currency_selector == true or section.settings.show_social_icons == true -%}

			<div class="announcement-bar top-bar {% if settings.topbar_col_bar == settings.toolbar_col_bg %}announcement-bar--same-color{% endif %}" data-cc-animate data-section-type="announcement-bar">
				<div class="container">
					<div class="announcement-bar__inner">
                      <div class="topbar-right">  
                        {%- if section.settings.show_social_icons -%}
                        <div class="toolbar-social announcement-bar__spacer">
                          {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x48' %}
                        </div>
                        {%- endif -%}
                      </div>
                      
						<div class="announcement-bar__text">
							{%- if section.settings.announcement_link != blank -%}
								<a href="{{ section.settings.announcement_link }}" class="announcement-bar__text__inner">
							{%- else -%}
									<span class="announcement-bar__text__inner">
							{%- endif -%}

								{{- section.settings.announcement_text | escape -}}

							{%- if section.settings.announcement_link != blank -%}
								</a>
							{%- else -%}
								</span>
							{%- endif -%}
						</div>
                      
                      <div class="topbar-left">   
                         {%- if section.settings.show_locale_selector -%}
                           <div class="localization localization--header">
                               {% render 'localization', input_prefix: 'header' %}
                           </div>
                         {%- endif -%}

                         {%- if section.settings.show_currency_selector -%}
                           <div class="doubly-wrapper"></div>
                         {%- endif -%}
					  </div>
                    </div>
				</div>
			</div>

		{%- endif -%}
{%- endunless -%}

{% schema %}
  {
	"name": "Topbar",
	"class": "section-announcement-bar",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_social_icons",
			"label": "Show social media links",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "Show language selector",
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_currency_selector",
			"label": "Show currency selector",
			"info": "To add a currency selector, you should install the app [BEST Currency Converter.](https:\/\/apps.shopify.com\/\/doubly-currency-converter?utm_source=mwwared)",
			"default": true
		}
	]
}
{% endschema %}
