/*
    General classes
*/
[hidden] {
  display: none !important;
}

/*
  Wishlist icons
*/
#wishlist-icon-bubble {
  position: relative;
}


@media (max-width: 749px) {
  #wishlist-icon-bubble {
      display: none;
  }
}

.menu-drawer__wishlist {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  margin-right: -1.2rem;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}

.menu-drawer__wishlist .icon-wishlist {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

body .menu-drawer__account {
  margin-right: 0;
}

.wishlist-count-bubble {
  position: absolute;
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  bottom: 0.8rem;
  right: 2.2rem;
  line-height: calc(1 + .1 / var(--font-body-scale));
}

.menu-drawer__wishlist .wishlist-count-bubble {
  position: relative;
  right: .5rem;
  bottom: auto;
}


/*
 Add/Remove Wishlist buttons
*/
.product-card-wrapper .btn-add-remove-from-wishlist {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  z-index: 2;
  display: inline-flex;
  padding: .75rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .2s ease-out;
}

.product-card-wrapper .btn-add-remove-from-wishlist:hover {
  transform: scale(1.1);
}

.product-card-wrapper .card__badge.bottom.right + .btn-add-remove-from-wishlist {
  right: 1rem;
  left: auto;
}

.product-card-wrapper .btn-add-remove-from-wishlist svg {
  width: 16px;
  height: 16px;
}

.product .btn-add-remove-from-wishlist {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.product .btn-add-remove-from-wishlist > span {
  display: flex;
  align-items: center;
}

.product .btn-add-remove-from-wishlist > span > span {
  margin-right: .75rem;
}


/*
  Drawer
*/
.wishlist-drawer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wishlist-drawer__overlay:empty {
  display: block;
}

eg-wishlist-drawer .drawer__header {
  border-bottom: 0.1rem solid rgba(var(--color-foreground),.08);
}

eg-wishlist-drawer .drawer__heading {
  margin-bottom: 0;
}

eg-wishlist-drawer.is-empty .drawer__header {
  display: none;
}

.eg-wishlist-drawer-product-list {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.eg-wishlist-drawer-product-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.eg-wishlist-drawer-product-list-item .wishlist-item__image {
  margin-left: 1.5rem;
}

.eg-wishlist-drawer-product-list-item .product-option {
  margin-top: 0.6rem;
}

.eg-wishlist-drawer-product-list-item .btn-remove-from-wishlist {
  min-width: auto;
  margin-left: -1rem;
}

.eg-wishlist-drawer-product-list-item .product-price-compare {
  color: rgba(var(--color-foreground), .75);
  margin-left: 0.5rem;
}