@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a, *:not(.fa):not([class*="pe-"]):not(.lni) {
  font-family: 'Almarai' !important;letter-spacing:0!important;
}

body, html {
  direction: rtl
}

.icon-arrow {
    transform: scaleX(-1);
}

.card-information, .card__information {
    text-align: right!important;
}

.toolbar-icons .doubly-wrapper {
    float: left!important;
    margin-left: 0!important;
}

.toolbar-icons .doubly-nice-select {
    float: left!important;
	border: 0px!important;
    padding-right: 12px!important;
    padding-left: 30px!important;
    text-align: right!important;
}

.toolbar-icons .flags {
    margin: 10px 0 0 4px !important;
    float: right!important;
}

.toolbar-icons .doubly-nice-select.right .list {
    right: auto!important;
    left: 0!important;
  	overflow: hidden!important;
}

.toolbar-icons .doubly-nice-select .option {
    text-align: right !important;
    padding-right: 18px!important;
    padding-left: 52px!important;
    text-align: right!important;
}

.toolbar-icons .doubly-nice-select:after {
    left: 0px!important;
    right: 90px!important;
}

button.shopify-payment-button__button {
font-size: 0px !important;
}

.currency-selector .doubly-wrapper {
    float: left!important;
    margin-left: 0!important;
}

.doubly-wrapper {
  float: left!important;
  margin-left: 18px;
  margin-right: 0;
}

.currency-selector .doubly-nice-select {
	float: left!important;
    border: 0px!important;
    padding-right: 10px!important;
    padding-left: 18px!important;
    background: none;
 	height: unset;
    line-height: 40px!important;
}

.currency-selector .flags {
    margin: 0 0 0 4px!important;
    float: right!important;
}

.currency-selector .doubly-nice-select.right .list {
	right: auto!important;
    left: 0!important;
}

.currency-selector .doubly-nice-select .option {
	padding-right: 18px!important;
    padding-left: 18px!important;
    text-align: right!important;
}

.currency-selector .doubly-nice-select:after {
    left: 0px!important;
    right: 53px!important;
    height: 4px;
    right: 14px;
    top: 7px;
    width: 4px;
}

.footer__copyright {
    text-align: center!important;
}

.eg-announcement-bar a svg {
    transform: scalex(-1);
}

#eg-newsletter-modal .micromodal__title {
    line-height: 3rem;
}

#eg-newsletter-popup-description {
    line-height: 2.5rem;
}

#eg-newsletter-popup-note {
    line-height: 2rem;
}

.eg-testimonials {
    direction: ltr;
}

#form-password-show-hide {
    left: 0;
    right: auto;
}

.eg-wishlist-drawer-product-list-item a {
    margin-left: 1rem;
    margin-right: 0;
}

.eg-announcement-bar .splide__list {
    direction: ltr;
}

.eg-announcement-bar .splide__slide__inner {
    direction: rtl;
}