@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a, *:not(.fa):not([class*="pe-"]):not(.lni) {font-family: 'Almarai' !important;letter-spacing:0!important;}
@charset "UTF-8";
/*
File structure:
[Assign user-editable variables in liquid]
[Assign settings variables in liquid]
[Assign variables in scss]
*//* Layout */
/* Colour */

/* Footer */
/* Sidebar cart */
/* Images */
/* Input/Buttons */
/* This has to be a non font-based unit */
/* Sub nav */
/* Font */@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=b9c90d5d1a096f3131cf82483c3356dbabd87cc8db99922ebab41007cc5ee82f") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?h1=ZmVlbHN0b3JlLnBz&hmac=c6dbfe116e221f86981948e7795fc68cc54926c993676a34377c87a9a193cd32") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=04ae80ae6fd73d20aab0ee1871fbd77b5db4cddf94b9dd410e4c13c8fef01336") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n7.4e2eb03bfa5cdc209fbd1b7b5ee863b8032f4b36.woff?h1=ZmVlbHN0b3JlLnBz&hmac=1295ea47f3730813fc1b158f9a634a8504412c43405d5fa36750c4c77afedb2e") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_i4.3854a246d5acf17aab4c771d3d4542818d3a46a8.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=2691edd8fbdbdbeb9e1f4265d01f26ee16c322f4ba1eea577a62d21eec50e6ce") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_i4.1cb364a3d4a7a0305132a25a76ac8fa7d381d3c6.woff?h1=ZmVlbHN0b3JlLnBz&hmac=c69f5e09cc2abc3ef95d0ce7f5fd57168525ea6e1b99172b952103a8975ee76c") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_i7.f2dd6989e403681b1042ba33de0a0ae8062b7ecb.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=3d1cf0b4076e63ee4b033c82fdb6044ed09521be186a9386f0f23aceca2f3732") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_i7.2b1150c87b2f7e0338af40875cb176d5ab2ddad7.woff?h1=ZmVlbHN0b3JlLnBz&hmac=5b618e536768696c219c18f4f53d173c531aa78c599b9c2486285dd8080eb76e") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=a4b05d018bc37081950406abca2c1300b47203ea86ed0d45568ce079c59df1b5") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=ZmVlbHN0b3JlLnBz&hmac=4f773fba12ed89d8b5f2350b81b76c58670844868d49fd405367b9d802508529") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=b9c90d5d1a096f3131cf82483c3356dbabd87cc8db99922ebab41007cc5ee82f") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?h1=ZmVlbHN0b3JlLnBz&hmac=c6dbfe116e221f86981948e7795fc68cc54926c993676a34377c87a9a193cd32") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?h1=ZmVlbHN0b3JlLnBz&hmac=b9c90d5d1a096f3131cf82483c3356dbabd87cc8db99922ebab41007cc5ee82f") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?h1=ZmVlbHN0b3JlLnBz&hmac=c6dbfe116e221f86981948e7795fc68cc54926c993676a34377c87a9a193cd32") format("woff");
}


body {
  direction: rtl;
}

/* Misc */
/* Store availability variables */
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/*! normalize.css v1.0.0 | MIT License | git.io/normalize */

dd {
  margin: 0 40px 0 0;
}

menu, ol, ul {
  padding: 0 40px 0 0;
}

legend {
  *margin-right: -7px;
  *margin-left: 0;
}

#cboxBottomLeft, #cboxMiddleLeft {
  clear: right;
}

#cboxLoadingGraphic, #cboxLoadingOverlay {
  right: 0;
  left: unset;
}

.cboxPhoto {
  float: right;
}

#cboxTitle {
  right: 0;
  left: unset;
}

#cboxCurrent {
  right: 100px;
  left: unset;
}

#cboxSlideshow {
  left: 42px;
  right: unset;
}

#cboxPrevious {
  right: 0;
  left: unset;
}

#cboxNext {
  right: 7.5em;
  left: unset;
}

#cboxClose {
  left: 0;
  right: unset;
}

#cboxNext {
  right: 5.5em;
  left: unset;
}

h1, .product-title-row .product-price .current-price, .image-overlay .line-1, .added-notice .added-notice__price, h2, h3, h4, blockquote, .cart-summary__subtotal .amount, h5, h6, .feature-subheader, .image-overlay .line-3 .link-display {
  margin: 0 0 0.7em;
}

/* Number spinners */

.pretty-select, .disclosure__toggle {
  text-align: right;
}

.disclosure__toggle {
    padding: 0 0 0 20px;
}

.pretty-select.plaintext .text, .plaintext.disclosure__toggle .text {
  padding: 0 0 0 1.2em;
}

.pretty-select.plaintext svg, .plaintext.disclosure__toggle svg {
  left: 0;
  right: unset;
}

.pretty-select .text, .disclosure__toggle .text {
  padding: 9px 0.8em 9px 50px;
}

.pretty-select svg, .disclosure__toggle svg {
  left: 15px;
  right: unset;
}

.pretty-select select, .disclosure__toggle select {
  right: 0;
  left: unset;
}

button.not-a-button {
  text-align: right;
}

ul.inline.list-divide li {
  margin-left: 1.25em;
  margin-right: 0;
}

ul.inline.list-divide li:last-child {
  margin-left: 0;
}

.rte th {
  text-align: right;
}

.rte td:first-child,
.rte th:first-child {
  border-right: none;
}


/* Medium and large screens */

.column {
  float: right;
}

.first-in-row {
  clear: right;
}

.grid .column.half:nth-child(2n+1),
.grid .column.flex.max-cols-2:nth-child(2n+1) {
  clear: right;
}

.grid .column.third:nth-child(3n+1),
.grid .column.flex.max-cols-3:nth-child(3n+1) {
  clear: right;
}

.grid .column.quarter:nth-child(4n+1),
.grid .column.flex.max-cols-4:nth-child(4n+1) {
  clear: right;
}

.grid .column.fifth:nth-child(5n+1),
.grid .column.flex.max-cols-5:nth-child(5n+1) {
  clear: right;
}

.grid .column.flex.max-cols-6:nth-child(6n+1) {
  clear: right;
}

.product-grid.grid {
  margin-right: -10px;
  margin-left: 0;
  
  
}


@media (min-width: 768px) {
  .product-grid.grid {
    margin-left: -10px !important;
	margin-right: 0;
  }
}

@media (max-width: 767px) {
  .product-grid.grid {
    margin-left: -10px !important;
	margin-right: 0 !important;
  }
.footer-lower .payment-methods {
  float: right!important;
}  
}

@media (min-width: 768px) {
  .product-grid.grid .column {
    margin-left: 10px;
	margin-right: 0;
  }

  .product-grid.grid .column:not(.product-block--flex-spacer) {
    margin-left: 0;
	margin-right: 0;
  }
  .product-grid.grid .column:not(.product-block--flex-spacer):not(.product-block--gap-0) {
    margin-left: 10px;
	margin-right: 0;
  }
}


@media (max-width: 1250px) {
  .grid .column.flex.max-cols-6:nth-child(4n+1) {
    clear: right;
  }
}

@media (max-width: 960px) {
  .grid .column.flex.max-cols-5:nth-child(3n+1) {
    clear: right;
  }
  .grid .column.flex.max-cols-4:nth-child(3n+1) {
    clear: right;
  }
  .grid .column.flex.max-cols-3:nth-child(2n+1), .grid
  .column.flex.max-cols-2:nth-child(2n+1) {
    clear: right;
  }
}

@media (max-width: 767px) {
  .grid .column.flex.min-cols-2:nth-child(2n+1), .grid
  .column.flex.max-cols-4:nth-child(2n+1), .grid
  .column.flex.max-cols-5:nth-child(2n+1), .grid
  .column.flex.max-cols-6:nth-child(2n+1) {
    clear: right;
  }
}

@media screen and (max-width: 479px) {
  .column.min-cols-2,
  .column.flex.min-cols-2 {
    float: right;
  }
  .grid .column.min-cols-2:nth-child(2n+1), .grid
  .column.flex.min-cols-2:nth-child(2n+1) {
    clear: right;
  }
}

.cc-carousel--previous,
.cc-carousel--next {
  right: auto;
  left: unset;
  transform: translate3d(0, -50%, 0);
}

.cc-carousel--previous {
  right: 0;
  left: unset;
  margin-right: 0;
}

@media (min-width: 900px) {
  .cc-carousel--previous {
    right: 2%;
	left: unset;
  }
}

@media (min-width: 1441px) {
  .cc-carousel--previous {
    right: 2.5%;
	left: unset;
  }
}

.cc-carousel--next {
  left: 0;
  right: unset;
  margin-right: 0;
}

@media (min-width: 900px) {
  .cc-carousel--next {
    left: 2%;
	right: unset;
  }
}

@media (min-width: 1441px) {
  .cc-carousel--next {
    left: 2.5%;
	right: unset;
  }
}

.cc-carousel.grid .product-block.product-block--gap-0 {
  margin-right: 0 !important;
}

.cc-carousel.grid .product-block.product-block--gap-0:not(:first-child) {
  border-right: 1px solid transparent;
  border-left: unset;
}

.cc-carousel.grid .product-block.product-block--last {
  margin-left: 10px;
  margin-right: 0;
}

@media (max-width: 767px) {
  .cc-carousel.grid .product-block.product-block--last.min-cols-1.product-block--gap-0 {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .cc-carousel.grid .product-block.product-block--last {
    margin-left: 10px;
	margin-right: 0;
  }
}

.align-right,
.align-right-desktop {
  text-align: left;
}

.cc-popup {
  right: 0;
  left: unset;
}

.cc-popup.cc-popup--center .cc-popup-modal {
  transform: translate3d(0, 60px, 0);
}

.cc-popup.cc-popup--bottom-left .cc-popup-modal {
  transform: translate3d(60px, 0, 0);
}

.cc-popup.cc-popup--bottom-right .cc-popup-modal {
  transform: translate3d(-60px, 0, 0);
}

.cc-popup.cc-popup--right .cc-popup-modal {
  transform: translate3d(-60px, 0, 0);
}

.cc-popup.cc-popup--visible .cc-popup-modal {
  transform: translate3d(0, 0, 0);
}

.cc-popup .cc-popup-close {
  left: 3px;
  right: unset;
}

.cc-animate-enabled [data-cc-animate].cc-fade-in-right {
  transform: translate3d(-15px, 0, 0);
}

.cc-animate-enabled [data-cc-animate].cc-fade-in-right.-in {
  transform: translate3d(0, 0, 0);
}

.cc-animate-enabled [data-cc-animate].cc-fade-in-up {
  transform: translate3d(0, 15px, 0);
}

.cc-animate-enabled [data-cc-animate].cc-fade-in-up.-in {
  transform: translate3d(0, 0, 0);
}

.cc-animate-enabled [data-cc-animate].cc-wipe-in-left .rimage-outer-wrapper {
  transform: translate3d(50px, 0, 0);
}

.cc-animate-enabled [data-cc-animate].cc-wipe-in-left.-in .rimage-outer-wrapper {
  transform: translate3d(0, 0, 0);
}

.cc-animate-enabled [data-cc-animate].cc-wipe-in-left.-in:after {
  transform: translate3d(-100%, 0, 0);
}

.cc-tabs {
  text-align: right;
}

.cc-tabs .cc-tabs__tab .cc-tabs__tab__panel #shopify-product-reviews .spr-container .spr-form-title {
  text-align: right;
}

.cc-tabs .cc-tabs__tab .cc-tabs__tab__panel #shopify-product-reviews .spr-container .spr-form-actions input {
  float: right;
}

.cc-tabs.cc-tabs--accordion-mode .cc-tabs__tab .cc-tabs__accordion__header:after, .cc-tabs.cc-tabs--accordion-mode .cc-tabs__tab .cc-tabs__accordion__header:before {
  left: 0;
  right: unset;
  transform: translateY(-50%);
}

.cc-tabs.cc-tabs--accordion-mode .cc-tabs__tab .cc-tabs__accordion__header:after {
  transform: translateY(-50%) rotate(-90deg);
}

.cc-tabs.cc-tabs--accordion-mode .cc-tabs__tab .cc-tabs__accordion__header[aria-selected="true"]:after {
  transform: translateY(-50%) rotate(0deg);
}

.cc-tabs.cc-tabs--accordion-mode .cc-tabs__tab .cc-tabs__accordion__header .spr-badge {
  margin-right: 10px;
  margin-left: 0;
}

@media (max-width: 1024px) {
  .cc-tabs.cc-tabs--tab-mode .cc-tabs__tab-headers-container:after {
    left: 0;
	right: unset;
  }
}

@media (max-width: 1024px) {
  .cc-tabs.cc-tabs--tab-mode .cc-tabs__tab-headers .cc-tabs__tab-headers__header[aria-selected="true"]:after {
    right: 0;
	left: unset;
  }
}

.cc-tabs.cc-tabs--tab-mode .cc-tabs__tab-headers .cc-tabs__tab-headers__header {
  margin-left: 20px;
  margin-right: 0;
}

.store-availability-container .store-availability-information .store-availability-icon {
  padding-left: 10px;
  padding-right: 0;
}

.store-availabilities-modal .cc-popup-modal .cc-popup-content {
  text-align: right;
}

.store-availabilities-modal .cc-popup-modal .cc-popup-content .cc-popup-text {
  padding-left: 20px;
  padding-right: 0;
}

.store-availabilities-modal .cc-popup-modal .cc-popup-content .cc-popup-text .store-availabilities-modal__product-title {
  text-align: right;
}

.cc-popup:not(.store-availabilities-modal) .cc-popup-modal .cc-popup-close {
  left: 6px;
  right: unset;
}

.cc-popup .cc-popup-modal--has-image .cc-popup-close {
  left: 28px;
  right: unset;
}


.cc-popup .cc-popup-form-input {
  padding-right: 1.5em;
  padding-left: 0;
}

.image-with-text .image-with-text__text {
  float: right;
}

.image-with-text .image-with-text__text .image-with-text__text__wrap.align-left {
  margin-left: auto;
  margin-right: unset;
}

.image-with-text .image-with-text__text .image-with-text__text__wrap.align-right {
  margin-right: auto;
  margin-left: unset;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .image-with-text.image-with-text--image-left .image-with-text__text__wrap {
    padding-left: 0;
    padding-right: 40px;
  }
  .image-with-text.image-with-text--image-right .image-with-text__text__wrap {
    padding-right: 0;
  }
}

.image-with-text .image-with-text__image {
  float: right;
}

.slideshow .slick-next, .slideshow .slick-prev {
  transform: translateY(-50%);
}

.slideshow .slick-next {
  right: auto;
  left: 0;
  transform: scaleX(-1);
}

@media (min-width: 992px) {
  .slideshow .slick-next {
    left: 8px;
	right: unset;
  }
}

.slideshow .slick-prev {
  left: auto;
  right: 0;
  transform: scaleX(-1);
}

@media (min-width: 992px) {
  .slideshow .slick-prev {
    right: 8px;
	left: unset;
  }
}

.cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .feature-subheader, .cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .image-overlay .line-3 .link-display, .image-overlay .line-3 .cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .link-display, .cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .line-1, .cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .line-2, .cc-animate-enabled .slideshow[data-transition="slide"].direction-left .slide:not(.-outgoing) .line-3 {
  transform: translate3d(-35px, 0, 0);
}

.cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .feature-subheader, .cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .image-overlay .line-3 .link-display, .image-overlay .line-3 .cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .link-display, .cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .line-1, .cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .line-2, .cc-animate-enabled .slideshow[data-transition="slide"].direction-right .slide:not(.-outgoing) .line-3 {
  transform: translate3d(35px, 0, 0);
}

.section-gallery .cc-gallery .gallery__item .gallery__image {
  right: 0;
  left: unset;
}

.announcement-bar .toolbar-social .social-links__list li:first-child {
  margin-right: 0;
}

/*================ Giftcard Template ================*/

.giftcard__code {
  left: 50%;
  right: unset;
  transform: translateX(-50%);
}

.print-giftcard svg {
  margin-right: -5px;
  margin-left: 5px;
}

/*================ Print Giftcard Styles ================*/
.image-with-text .image-with-text__image .rimage-outer-wrapper::after, .section-image-with-text-overlay .rimage-outer-wrapper::after {
  right: 0;
  left: unset;
}

.border-left {
  border-right: 1px solid #f5f5f5;
  border-left: unset;
}

.border-right {
  border-left: 1px solid #f5f5f5;
  border-right: unset;
}

.toolbar.toolbar--two-cols .toolbar-left {
  padding-left: 10px;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .toolbar.toolbar--two-cols .toolbar-left {
    padding-left: 20px;
	padding-right: 0;
  }
}

.toolbar.toolbar--two-cols.toolbar--text-box-large .toolbar-left.toolbar-left--search-left .main-search__form {
  margin-right: 0 !important;
}


.toolbar.toolbar--two-cols.toolbar--text-box-large .toolbar-left.toolbar-left--search-left .main_search__popup {
  right: 0;
  left: unset;
}

.toolbar .toolbar-left .logo-text {
  padding-left: 20px;
  padding-right: 0;
}

.toolbar .toolbar-right {
  text-align: left;
}

.toolbar-left--search-left .toolbar-links {
  margin-right: 0;
}

@media (min-width: 1200px) {
  .toolbar-icons {
    padding-right: 15px;
	padding-left: 0;
  }
}

.toolbar-icons .toolbar-cart .current-cart {
  transform: translateY(-50%);
}

.toolbar-icons .toolbar-cart .pretty-select, .toolbar-icons .toolbar-cart .disclosure__toggle {
  margin-right: 0.5em;
  margin-left: 0;
}

.main-search__form {
  padding-left: 45px;
  padding-right: 0;
  text-align: right;
}


@media (min-width: 1200px) {
  .main-search--show-popup .main-search__form {
    border-bottom-left-radius: 3px;
	border-bottom-right-radius: unset;
  }
}

.main-search__form input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
  .main-search--show-popup .main-search__form input {
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 767px) {
  .mobile-search-form .main-search__form input {
    margin-left: 0;
  }
}

.main-search__form .id-main-search__product-types, .main-search__form select#main-search__product-types:not(.replaced) {
  border-left: none;
}

.main-search__form .id-main-search__product-types:after, .main-search__form select#main-search__product-types:not(.replaced):after {
  left: 0;
  right: unset;
}

.main-search__form .id-main-search__product-types .text, .main-search__form select#main-search__product-types:not(.replaced) .text {
  transform: translateY(-50%);
  right: 1em;
  left: unset;
}

.main-search__form button {
  left: 0;
  right: unset;
}

.main-search__form button svg {
  transform: translate3d(50%, -50%, 0);
  right: 50%;
  left: unset;
}

.current-cart-count {
  right: calc(100% - 10px);
  left: unset;
}

.main-nav .nav-item .nav-item-link svg {
  left: -2px;
  right: unset;
  transform: translateY(-50%);
}

.main-nav .sub-nav {
  text-align: right;
}

.main-nav .sub-nav .sub-nav-item--expanded > .sub-nav-item-link svg {
  transform: rotate(-180deg);
}

.main-nav .sub-nav .sub-sub-nav-list {
  margin-right: 0.5em;
  padding-right: 0.75em;
  border-right: 1px solid #5f40ff;
  margin-left: 0;
  padding-left: 0;
  border-left: unset;
  }

.main-nav .sub-nav-list {
  padding: 0 40px calc(40px - 0.4em) 0;
}

.main-nav .nav-item.drop-norm {
  padding-left: 1em;
  padding-right: 0;
}

.main-nav .nav-item.drop-norm .sub-nav .sub-nav-list:first-child {
  margin-right: 0px;
  margin-left: 0;
}

.main-nav.align-center .nav-item.drop-norm .sub-nav {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav .nav-item.drop-uber {
  padding-left: 1em;
  padding-right: 0;
}

.main-nav .nav-item.drop-uber .sub-nav-links-column-grid-wrapper {
  margin-right: -40px;
  margin-left: 0;
}

.main-nav .nav-item.first .nav-item-link {
  padding-right: 0;
  padding-left: 1em;
}

.main-nav.align-right .nav-item.last .nav-item-link {
  padding-left: 0;
  padding-right: 1em;
}

.main-nav .logo-item.logo-item-left {
  margin: 12px 0 12px 25px;
}

.logo-nav .logo {
  float: right;
}

.product-label {
  right: 0;
  left: unset;
  text-align: right;
}

@media (min-width: 1025px) {
  .product-block .image--with-secondary .image__secondary {
    right: 0;
	left: unset;
  }
  .product-block .image--with-secondary .image__secondary .rimage-outer-wrapper {
    right: 0;
	left: unset;
  }
}

@media (min-width: 1450px) {
  .product-block.layout-align-beside.max-cols-5 .product-block__title-price .price {
    text-align: left;
  }
  .product-block.layout-align-beside.max-cols-5 .product-block__title-price .price.on-sale .amount {
    margin-left: 0;
  }
  .product-block.layout-align-beside.max-cols-5 .product-block__title-price .price.on-sale del {
    margin-right: 4px;
	margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price {
    text-align: left;
  }
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price.on-sale .amount {
    margin-left: 0;
  }
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price.on-sale del {
    margin-right: 4px;
	margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price {
    text-align: left;
  }
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price.on-sale .amount {
    margin-left: 0;
  }
  .product-block.layout-align-beside.max-cols-4 .product-block__title-price .price.on-sale del {
    margin-right: 4px;
	margin-left: 0;
  }
}

@media (min-width: 768px) {
  .product-block.layout-align-beside.max-cols-2 .product-block__title-price .price,
  .product-block.layout-align-beside.max-cols-3 .product-block__title-price .price {
    text-align: left;
  }
  .product-block.layout-align-beside.max-cols-2 .product-block__title-price .price.on-sale .amount,
  .product-block.layout-align-beside.max-cols-3 .product-block__title-price .price.on-sale .amount {
    margin-left: 0;
  }
  .product-block.layout-align-beside.max-cols-2 .product-block__title-price .price.on-sale del,
  .product-block.layout-align-beside.max-cols-3 .product-block__title-price .price.on-sale del {
    margin-right: 4px;
	margin-left: 0;
  }
}

.product-block .price.on-sale .amount {
  margin-left: 4px;
  margin-right: 0;
}

.product-add .loading-spinner {
  right: 50%;
  left: unset;
  margin-right: -0.5em;
  margin-left: 0;
}

.product-add .added-to-cart-check:after {
  transform-origin: right top;
  border-left: 2px solid #fcfcfc;
  border-right: unset;
  right: 50%;
  left: unset;
  transform: scaleX(-1) rotate(-135deg) translateX(50%) translateY(-50%);
}

.product-grid.grid {
  padding-right: 1px;
  padding-left: 0;
}


.product-grid.grid .product-block {
  margin-right: -1px;
  margin-left: 0;
}



.rimage-wrapper .rimage__image {
  right: 0;
  left: unset;
}

.quick-buy-wrap {
  right: 0;
  left: unset;
}

.quick-buy-wrap.pos-topcorner {
  text-align: left;
}

.has-tint::after {
  right: 0;
  left: unset;
}

.has-tint.has-tint--shadow .overlay--h-left .inner::before {
  right: -85%;
  left: 0;
}

.has-tint.has-tint--shadow .overlay--h-right .inner::before {
  right: 15%;
  left: -50%;
}

@media (max-width: 767px) {
  .has-tint.has-tint--shadow .overlay--mob-left .inner::before {
    right: -85%;
    left: 0;
  }
  .has-tint.has-tint--shadow .overlay--mob-center .inner::before {
    right: -25%;
    left: -25%;
  }
  .has-tint.has-tint--shadow .overlay--mob-right .inner::before {
    right: 15%;
    left: -50%;
  }
}


.template-blog .page-title svg {
  margin-right: 0.2em;
  margin-left: 0;
}


.page-footer .footer-logo {
  float: right;
  margin-left: 1.75em;
  margin-right: 0;
}

.toolbar .selectors-form__item + .selectors-form__item {
  margin-right: 15px;
  margin-left: 0;
}

.disclosure__toggle svg {
  left: 0;
  right: unset;
  transform: translateY(-50%);
}

.localization--header .disclosure-list {
  left: 0;
  right: unset;
}

.localization--header .selectors-form {
  padding-right: 20px;
  padding-left: 8px;
  text-align: left;
}

.localization--header .selectors-form__item {
  padding-left: 15px;
  padding-right: 0;
}

.localization--header .selectors-form__item:last-of-type {
  padding-left: 0;
}

.side-menu-header .side-menu-header--close {
  left: 20px;
  right: unset;
  transform: translateY(-50%);
}

.side-menu-header .side-menu-header--close svg {
  transform: translateY(-50%);
}

.localization--mobile-menu .selectors-form__item {
  margin-left: 1em;
  margin-right: 0;
}

.localization--footer .selectors-form__item {
  margin-left: 20px;
  margin-right: 0;
}

.localization .disclosure .disclosure-list {
  transform: translateY(-5px);
}

.localization .disclosure .disclosure-list__item {
  text-align: right;
  padding: 10px 15px 10px 45px;
}

.notification.errors {
  text-align: right;
}

.pagination .next {
  padding: 0.4em 0.8em 0.4em 0;
}

.pagination .prev {
  padding: 0.4em 0 0.4em 0.8em;
}

.product-gallery .product-media--frame iframe,
.product-gallery .product-media--frame object,
.product-gallery .product-media--frame embed,
.product-gallery .product-media--frame video,
.product-gallery .product-media--frame model-viewer,
.product-gallery .product-media--frame .shopify-model-viewer-ui,
.product-gallery .product-media--frame .media-item,
.product-gallery .product-media--frame .plyr {
  right: 0;
  left: unset;
}

.product-gallery .product-media--frame .plyr.plyr__tab-focus::after,
.product-gallery .product-media--frame model-viewer.focus-visible::after {
  right: 0;
  left: unset;
}

.product-gallery .product-media--frame .shopify-model-viewer-ui model-viewer {
  text-align: right;
}

.product-title-row .product-price.on-sale .current-price {
  margin-left: 4px;
  margin-right: 0;
}

@media (min-width: 768px) {
  .quickbuy-form .product-details {
    padding-right: 10px;
	padding-left: 0;
  }
}

.spr-icon {
  margin-left: 0.1em;
  margin-right: 0;
}

.theme-product-reviews-full .spr-review-header-byline {
  margin: 0.1em 0 0.6em;
}

.theme-product-reviews-full .spr-pagination-prev {
  margin-right: 20px;
  margin-left: 0;
}

.theme-product-reviews-full .spr-pagination-next {
  margin-left: 20px;
  margin-right: 0;
}

.product-form .quantity {
  margin-left: 1em;
  margin-right: 0;
}

.product-form .quantity .product-inventory-notice {
  margin-right: 4px;
  margin-left: 0;
}

.product-form .payment-and-quantity--buttons-active .quantity {
  margin-left: 0;
}

.inline-input-button button, .inline-input-button input[type=submit], .inline-input-button .btn, .inline-input-button .account-area .action_link, .account-area .inline-input-button .action_link, .inline-input-button .giant-round-button, .inline-input-button .big-round-button, .inline-input-button .button {
  left: -2px;
  right: unset;
  border-radius: 25px 0 0 25px;
}

.clickyboxes li a {
  margin: 0 0 10px 10px;
}

.clickyboxes li a.unavailable:before {
  right: 50%;
  left: unset;
  border-left: 1px solid #191817;
  border-right: unset;
  transform: rotate(-55deg);
}

.placeholder-image svg {
  right: 0;
  left: unset;
}

.video-container__video iframe, .video-container__video object, .video-container__video embed {
  right: 0;
  left: unset;
}

@media (max-width: 767px) {
  .video-container--modal-mobile::before {
    right: 0;
	left: unset;
  }
  .video-container--modal-mobile .video-container__video {
    right: 20px;
	left: unset;
    transform: translateY(-50%);
  }
  .video-container--modal-mobile .video-container__stop {
    left: 0;
	right: unset;
  }
}

.video-container__cover {
  right: 0;
  left: unset;
}

.video-container__cover .rimage-outer-wrapper,
.video-container__cover .placeholder-image {
  right: 0;
  left: unset;
}

.video-container__fallback {
  right: 0;
  left: unset;
}

.opposing-items {
  text-align: left;
}

.opposing-items .left {
  float: right;
  text-align: right;
}

.opposing-items.float-right .right {
  float: left;
}

@media (max-width: 767px) {
  .opposing-items.stack-mobile {
    text-align: right;
  }
}

.opposing-items.collapse-tags .tags {
  text-align: right;
  float: right;
}

.image-overlay {
  right: 0;
  left: unset;
}

.image-overlay.align-left .inner,
.image-overlay.align-right .inner {
  text-align: right;
}


@media (min-width: 768px) {
  .image-overlay.align-left .inner {
    padding-left: 0;
  }
  .image-overlay.align-right .inner {
    padding-right: 0;
  }
}

.image-overlay.overlay--h-left {
  text-align: right;
}

.image-overlay.overlay--h-right {
  text-align: left;
}

@media (max-width: 767px) {
  .image-overlay.overlay--mob-left {
    text-align: right;
  }
  .image-overlay.overlay--mob-right {
    text-align: left;
  }
}

.image-overlay.pos-right {
  text-align: left;
}

.cart-items__heading, .product-section legend {
  text-align: right;
}

.cart-item__description {
  margin-left: 20px;
  margin-right: 0;
}

.cart-item__image {
  margin-left: 20px;
  margin-right: 0;
}

.cart-item__price {
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
}


.cart-item__total {
  margin-right: 20px;
  margin-left: 0;
  text-align: left;
}

.cart-discount--inline .cart-discount__label {
  margin-left: 1em;
  margin-right: 0;
}

.inline-row .inline-item.border-left {
  border-right: 1px solid #f5f5f5;
  border-right: unset;
}

.inline-row .inline-item.left {
  float: right;
  padding-right: 0;
}

.inline-row .inline-item.right {
  float: left;
}

.inline-row .inline-item.last {
  padding-left: 0;
}

.inline-row .inline-item label, .inline-row .inline-item .cart-items__heading, .inline-row .inline-item .product-section legend, .product-section .inline-row .inline-item legend {
  margin: 0.5em 0 0.5em 1em;
}

.inline-row .more-link {
  margin: 0 0 0 1em;
}


.cart-subtotal .cart-subtotal-label {
  margin-left: 5px;
  margin-right: 0;
}

#mobile-nav {
  left: 100%;
  right: unset;
}

.show-mobile-nav #mobile-nav {
  transform: translate3d(-100%, 0, 0);
}

#mobile-nav .inner {
  right: 0;
  left: unset;
}

#mobile-nav .header .social-links li:first-child {
  margin-right: 0;
}

#mobile-nav .nav-item:after,
#mobile-nav .sub-nav-item:after {
  right: 20px;
  left: 0;
}

#mobile-nav .sub-nav {
  right: 100%;
  left: unset;
  transition: right .3s, opacity .4s;
  will-change: left, opacity;
}

#mobile-nav .sub-nav.show {
  right: 0;
  left: unset;
}

#mobile-nav .sub-nav.hide {
  right: -100%;
  left: unset;
}

#mobile-nav .open-sub-nav {
  left: 14px;
  right: unset;
}

#mobile-nav > .inner.hide {
  transform: translateX(100%);
}

.close-sub-nav .btn, .close-sub-nav .account-area .action_link, .account-area .close-sub-nav .action_link, .close-sub-nav .giant-round-button, .close-sub-nav .big-round-button {
  margin-left: 0.5em;
  margin-right: 0;
}

.close-sub-nav svg {
  margin-right: -5px;
  margin-left: 0;
}

@media (max-width: 767px) {
  .toolbar-left .toolbar-logo {
    margin-right: 15px;
	margin-left: 0;
  }
}

.toggle-mob-nav > span {
  right: 0;
  left: unset;
}

.toggle-mob-nav > span:nth-child(2) {
  transform: translateY(-50%);
}

.masonry .article-image,
.article.third.column .article-image,
.article.flex.column .article-image {
  text-align: right;
}

.article:not(.full) .article-image .rimage-outer-wrapper {
  transform: scale(1) translate3d(0, 0, 0);
}

.article:not(.full) .article-image:hover .rimage-outer-wrapper,
.article:not(.full) .article-image a:hover .rimage-outer-wrapper {
  transform: scale(1.06) translate3d(0, 0, 0);
}

.gravatar {
  margin: 0 0 0 1em;
}

.masonry #infscr-loading {
  right: 0;
  left: unset;
}

.sharing .sharing-label {
  margin-left: 0.5em;
  margin-right: 0;
}

.collection-header.coloured-split.has-image .header-image {
  text-align: left;
}

.collection-header.coloured-split.has-image .header-image .rimage-outer-wrapper {
  margin-left: 0;
}

.collection-header .header-text.overlay--h-left {
  text-align: right;
}

.collection-header .header-text.overlay--h-right {
  text-align: left;
}

.collection-header.collection-header--fixed-height .header-image .rimage-outer-wrapper,
.collection-header.collection-header--fixed-height .header-image .split-image,
.collection-header.collection-header--fixed-height .header-image .split-image img {
  right: 0;
  left: unset;
}

.back-link {
  margin-left: 2em;
  margin-right: 0;
}

.product-mob-collection-links .back-link {
  margin: 0 -4px 0 0;
}

.filter {
  margin-right: 1em;
  margin-left: 0;
}

.simple-popup:before {
  right: 50%;
  left: unset;
  margin: 0 -10px 0 0;
}

.simple-popup:after {
  right: 50%;
  left: unset;
  margin: -2px -10px 0 0;
}

.quickbuy-form.quickbuy-form--overlay {
  right: 0;
  left: unset;
}

.quickbuy-form.placeholder .loading-spinner {
  right: calc(50% - 10px);
  left: unset;
}

.added-notice .added-notice__tick svg {
  right: 50%;
  left: unset;
  margin: -11px -11px 0 0;
}

.added-notice .added-notice__quantity {
  margin-right: 0.5em;
  margin-left: 0;
}

.added-notice .added-notice__product-image {
  margin-left: 35px;
  margin-right: 0;
}

.added-notice .added-notice__product__description {
  text-align: right;
}

.action-icons {
  left: 3px;
  right: unset;
}

.sidebar-cont .sidebar {
  float: right;
  padding-left: 40px;
  padding-right: 0;
}

.sidebar-cont .beside-sidebar {
  float: right;
}

.payment-methods .payment-icon {
  margin: 0 0.5em 0.75em 0;
}

.cart-summary {
  right: 100%;
  left: unset;
}

.cart-summary .loading-spinner {
  right: 50%;
  left: unset;
  margin-right: -0.5em;
  margin-left: 0;
}

.cart-summary__close svg {
  margin-right: -8px;
  margin-left: 0;
  transform: scale(-1,1);
}

.cart-summary__inner {
  right: 0;
  left: unset;
}

.cart-summary__item-list-header__title {
  margin: 0 0 0 4px;
}

.cart-summary-item-container--out .cart-summary-item {
  transform: translate3d(-60px, -5%, 0) scale(0.9);
}

.cart-summary-item-container--out-left .cart-summary-item {
  transform: translate3d(30px, 0, 0);
}

.cart-summary-item__image {
  padding-left: 20px;
  padding-right: 0;
}

.cart-summary-item__price .struck-out-price {
  margin-right: 0.25em;
  margin-left: 0;
}

.cart-summary-item__quantity {
  margin-right: auto;
  margin-left: 0;
}

.cart-summary__subtotal .amount {
  text-align: left;
}

.cart-summary__subtotal .cart-discount-list {
  text-align: left;
}

.cart-promo a .rimage-outer-wrapper {
  transform: scale(1) translate3d(0, 0, 0);
}

.cart-promo a:hover .rimage-outer-wrapper {
  transform: scale(1.06) translate3d(0, 0, 0);
}

.cart-promo .overlay:not(:first-child) {
  right: 0;
  left: unset;
}

.cart-accordion-btn {
  float: left;
}

.cart-accordion-btn svg {
  transform: rotate(-180deg);
}

.cart-accordion-btn--collapsed svg {
  transform: rotate(0deg);
}

@keyframes loading-spinner {
  to {
    transform: rotate(-360deg);
  }
}

.qty-adjuster--with-remove .qty-adjuster__inner {
  margin-left: 1em;
  margin-right: unset;
}

.qty-adjuster__down {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.qty-adjuster__up {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.qty-adjuster__subtext {
  right: 0;
  left: unset;
}

#page-overlay, .hidden-search-container__veil, .announcement-bar::before, body:not(.show-cart-summary) .cart-summary::after {
  right: 0;
  left: unset;
}

.show-cart-summary .cart-summary {
  transform: translate3d(100%, 0, 0);
}



.map-section__text {
  margin-right: 50%;
  margin-left: 0;
}

.map-section__map {
  right: 0;
  left: unset;
}

@media (max-width: 767px) {
  .map-section__text {
    margin-right: 0;
  }
}

.size-chart-link {
  margin-left: -5px;
  margin-right: 0;
}

.size-chart-link svg {
  right: -1px;
  left: unset;
  transform: scale(-1,1);
}


@media (max-width: 767px) {
  .cart-item__description,
  .cart-item__price,
  .cart-item__quantity,
  .cart-item__total {
    text-align: right;
  }
  .filter {
    border-right: 0;
	border-left: unset;
    margin: 0 0 1em 1em;
    padding-right: 0;
  }
  .payment-methods .payment-icon {
    margin: 0 0 0.75em 0.5em;
  }
  .toolbar .compact-logo {
    margin-right: 10px;
	margin-left: 0;
  }
}

@media (max-width: 479px) {
  .gravatar {
    margin: 0 0 1em 1em;
  }
}

/*****************************/
/***** LOGIN TEMPLATE *****/
/*****************************/

html.template-password .password-login-link {
  text-align: left;
}

html.template-password .password-login-link svg {
  margin-left: 4px;
  margin-right: 0;
}

html.template-password input[type=text], html.template-password input[type=email], html.template-password input[type=password] {
  margin: 0 0 0 5px;
}

html.template-password .password-signup input[type=email] {
  margin-left: -1px;
  margin-right: 0;
  border-radius: 0 3px 3px 0;
}

html.template-password .password-signup input[type=submit] {
  border-radius: 3px 0 0 3px;
}

html.template-password .password-social a {
  padding: 2px 4px 4px 12px;
}

html.template-password .password-footer-inner .shopify-logo svg {
  margin: 0 5px 0 0;
}

.thumbnail__badge {
  left: 6px;
  right: unset;
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range'].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 4px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range'].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 4px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range'].plyr__tab-focus::-ms-track {
  box-shadow: 0 4px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range']:active::-moz-range-thumb {
  box-shadow: 0 3px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range']:active::-ms-thumb {
  box-shadow: 0 3px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 3px 0 0 rgba(25, 24, 23, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range'].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range'].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range'].plyr__tab-focus::-ms-track {
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range']:active::-moz-range-thumb {
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range']:active::-ms-thumb {
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.25);
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.25);
}

.cc-popup.cc-popup--right:not(.cc-popup--visible) .cc-popup-modal {
  transform: translate3d(-100%, 0, 0) !important;
}

@media (min-width: 1200px) {
  .collections-section .product-grid.grid.grid--max-cols-2 .product-block, .collections-section .product-grid.grid.grid--max-cols-3 .product-block, .collections-section .product-grid.grid.grid--max-cols-4 .product-block, .collections-section .product-grid.grid.grid--max-cols-5 .product-block {
    margin-left: 40px;
	margin-right: 0;
  }
}

@media (min-width: 1441px) {
  .image-with-text--image-right .padded-block-y {
    padding-left: 100px;
	padding-right: 0;
  }
  .image-with-text--image-left .padded-block-y {
    padding-right: 100px;
	padding-left: 0;
  }
}

@media (min-width: 1600px) {
  .image-with-text--image-right .padded-block-y {
    padding-left: 115px;
	padding-right: 0;
  }
  .image-with-text--image-left .padded-block-y {
    padding-right: 115px;
	padding-left: 0;
  }
}

@media (max-width: 767px) {
  .product-list-toolbar .cc-toolbar-filter-toggle {
    padding-left: 10px;
	padding-right: 0;
  }
}

.product-list-toolbar .cc-toolbar-filter-toggle svg {
  margin-left: 5px;
  margin-right: 0;
}

.product-list-toolbar .cc-toolbar-buttons .filter {
  margin: 0;
  text-align: left;
}

.product-list-toolbar .cc-toolbar-buttons .filter label, .product-list-toolbar .cc-toolbar-buttons .filter .cart-items__heading, .product-list-toolbar .cc-toolbar-buttons .filter .product-section legend, .product-section .product-list-toolbar .cc-toolbar-buttons .filter legend {
  padding-left: 5px;
  padding-right: 0;
}

.product-list-toolbar .cc-toolbar-buttons .filter .pretty-select .text, .product-list-toolbar .cc-toolbar-buttons .filter .disclosure__toggle .text {
  padding: 0 0 0 20px;
}

.product-list-toolbar .cc-toolbar-buttons .filter .pretty-select svg, .product-list-toolbar .cc-toolbar-buttons .filter .disclosure__toggle svg {
  left: 0;
  right: unset;
}

.cc-filters-closed .cc-product-filter-container .cc-product-filter, .cc-filters-closed-no-trans .cc-product-filter-container .cc-product-filter {
  transform: translateX(20px);
}

@media (max-width: 767px) {
  .cc-product-filter-container .cc-product-filter {
    right: 0;
	left: unset;
    box-shadow: 0px -2px 4px 1px rgba(90, 90, 90, 0.2);
    transform: translate3d(100%, 0, 0);
  }
  .cc-product-filter-container .cc-product-filter .cc-product-filter__close {
    left: 7px;
	right: unset;
  }
}

@media (min-width: 768px) {
  .cc-product-filter-container .cc-product-filter .cc-tabs {
    padding-left: 30px;
	padding-right: 0;
  }
}

.cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li {
  padding-right: 30px;
  padding-left: 0;
}

.cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li a:before, .cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li button:before {
  right: 0;
  left: unset;
}

.cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li a:after, .cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li button:after {
  right: 8px;
  left: unset;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(0.9);
}

.cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li.active a:after, .cc-product-filter-container .cc-product-filter .cc-tabs .cc-tabs__tab__panel ul li.active button:after {
  transform: rotate(-45deg) scale(1);
}


.cc-product-filter-container .cc-product-filter .cc-product-filter__footer {
  transform: translateY(10px);
}

.opposing-items--account .page-title {
  text-align: right;
}


/*************    ---                   ---                   ---   *************/
/*************    |     ENTER YOUR CUSTOM CODE BELOW HERE       |   *************/
/*************    ---                   ---                   ---   *************/

.main-search .main_search__popup {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 3px 1px;
  text-align: right;
}

@media (min-width: 768px) {
  .main-search .main_search__popup {
    transform: translate3d(0, -10px, 0);
  }
}

@media (min-width: 1200px) {
  .main-search .main_search__popup {
    left: 46px;
	right: unset;
  }
}

@media (min-width: 1200px) {
  .main-search.main-search--text-box-large .main_search__popup {
    right: calc(50% - 23px);
    left: auto;
    transform: translate3d(50%, 0, 0) !important;
  }
}

@media (min-width: 768px) {
  .main-search--text-box-large .main-search.main-search--show-popup .main_search__popup {
    transform: translate3d(50%, 0, 0);
  }
}

@media (max-width: 767px) {
  .main-search .main-search__footer-buttons .main-search__results-close-link {
    margin-right: 5px;
	margin-left: 0;
  }
  .main-search .main-search__footer-buttons .all-results-container {
    margin-left: 5px;
	margin-right: 0;
  }
}

@media (min-width: 768px) {
  .main-search .main-search__results-all-link svg {
    margin-right: 5px;
	margin-left: 0;
  }
}

.main-search .main-search-result .product-block__title {
  padding-left: 10px;
  padding-right: 0;
}

.main-search .main-search-result .product-info {
  padding-right: 15px;
  padding-left; 0;
}


.hidden-search-container .main-search {
  left: 0;
  right: unset;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  body:not(.show-cart-summary) .cart-summary::after {
    right: -1px;
	left: unset;
  }
}

/* Custom RTL */

.slideshow-section, .cc-carousel-container, .video-container {
  direction: ltr;
}

.cc-carousel--next svg, .cc-carousel--previous svg {
	transform: scale(-1,1);
}

.cc-carousel-container.not-a-carousel {
  direction: rtl;
}

@media (min-width: 768px) {
  .image-with-text.image-with-text--image-right .image-with-text__text__wrap {
    padding-left: 30px;
  }
}

@media (min-width: 901px) {
  .image-with-text.image-with-text--image-right .image-with-text__text__wrap {
    padding-left: 40px;
  }
}

@media (min-width: 1441px) {
  .image-with-text.image-with-text--image-right .image-with-text__text__wrap {
    padding-left: 60px;
  }
}

@media (min-width: 1600px) {
  .image-with-text.image-with-text--image-right .image-with-text__text__wrap {
    padding-left: 100px;
  }
}


a.next-item.action-icon, a.prev-item.action-icon {
  transform: scaleX(-1);
}

#mobile-nav .open-sub-nav svg {
  transform: scale(-1,1);
}

.inline-input-button input[type=email], .inline-input-button input[type=password], .inline-input-button input[type=text] {
font-size: 0.8em;
}

.hidden-search-container .main-search {
	left: 0;
    right: auto;
}  

.slick-slider {
  direction: ltr;
}

.newsletter-section__text input[type=submit] {
  	left: 1px;
}

.cc-checkbox {
    padding-right: 35px;
  padding-left: 0px;
}

@media (min-width: 768px) {
.cc-checkbox {
        padding-right: 30px;
  padding-left: 0px;
}
}


.cc-checkbox__label::before {
  right: -30px;
  left: auto;
}

.cc-checkbox__label::after {
  right: -22px;
  left: auto;
}

.cc-price-range .cc-price-range__input {
  padding: 12px calc(8px + 1em) 12px 8px;
  text-align: right;
}

.cc-price-range {
    direction: ltr;
}

.cc-price-range__input-currency-symbol {
  margin-right: -6px;
  margin-left: 0;
}

@media (min-width: 992px) {
  .cc-price-range__input-row::after {
    right: 50%;
    left: auto;
    transform: translateX(50%) translateY(-50%);
  }
  .cc-price-range__input-container {
    width: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
.cart-item:not(.cart-items__heading) .cart-item__quantity .qty-adjuster__inner {
    margin-left: 1em;
  margin-right: 0;
}
}

@media (min-width: 768px) {
  .cc-product-filter-container .cc-product-filter .cc-accordion {
    padding-left: 30px;
    padding-right: 0;
  }
}

.active-filter-controls li a {
    direction: ltr;
}

@media (min-width: 768px) {
.product-gallery .thumbnail {
    margin-right: 8px;
    margin-left: 0;
}
}

@media (min-width: 768px) {
.product-gallery .thumbnails {
    right: -8px;
  	left: auto;
}
}

.reading-container {
  direction: ltr;
}

.reading-column .page-title {
	margin-top: 50px;
}

#mobile-nav .nav-item-link,
#mobile-nav .sub-nav-item-link {
  margin-right: 0;
  margin-left: 20px;
}

.testimonial-container {
  direction: rtl;
}

.product-gallery .slick-slider {
  direction: rtl;
}

.product-gallery .slick-track {
  direction: rtl;
}

.product-gallery .slick-slide {
  float: right;
}

.product-gallery .thumbnail {
  margin-left: 0px;
  margin-right: 8px;
}

.slider-ltr .slick-slider {
  direction: ltr;
}

.slider-ltr .slick-track {
  direction: ltr;
}

.slider-ltr .slick-slide {
  float: left;
}

.cc-price-range__input-currency-symbol {
    margin-right: 0;
    margin-left: 6px;
}

.cc-price-range .cc-price-range__input {
    padding: 12px 12px 8px;
}

.text-justify {
	text-align: justify;
}

.toolbar-icons .doubly-wrapper {
    float: left!important;
    margin-left: 0!important;
}

.toolbar-icons .doubly-nice-select {
    float: left!important;
	border: 0px!important;
    padding-right: 12px!important;
    padding-left: 30px!important;
    text-align: right!important;
}

.toolbar-icons .flags {
    margin: 10px 0 0 4px !important;
    float: right!important;
}

.toolbar-icons .doubly-nice-select.right .list {
    right: auto!important;
    left: 0!important;
  	overflow: hidden!important;
}

.toolbar-icons .doubly-nice-select .option {
    text-align: right !important;
    padding-right: 18px!important;
    padding-left: 52px!important;
    text-align: right!important;
}

.toolbar-icons .doubly-nice-select:after {
    left: 0px!important;
    right: 90px!important;
}

button.shopify-payment-button__button {
font-size: 0px !important;
}

button.shopify-payment-button__button:before {
	content: "اشترِ الآن";
    font-size: 1rem;
    padding: 9px 1.4em;
    min-height: 44px;    
  
}    

.currency-selector .doubly-wrapper {
    float: left!important;
    margin-left: 0!important;
}

.doubly-wrapper {
  float: left!important
}

.currency-selector .doubly-nice-select {
	float: left!important;
    border: 0px!important;
    padding-right: 10px!important;
    padding-left: 18px!important;
    background: none;
 	height: unset;
    line-height: unset;
}

.currency-selector .flags {
    margin: 0 0 0 4px!important;
    float: right!important;
}

.currency-selector .doubly-nice-select.right .list {
	right: auto!important;
    left: 0!important;
}

.currency-selector .doubly-nice-select .option {
	padding-right: 18px!important;
    padding-left: 18px!important;
    text-align: right!important;
}

.currency-selector .doubly-nice-select:after {
    left: 0px!important;
    right: 53px!important;
    height: 4px;
    right: 14px;
    top: 7px;
    width: 4px; 
}

.topbar-left {
  float: left;
}

.doubly-nice-select.right {
  top: 0px;
}

.product-block .price {
    direction: ltr!important;
}

.product-price {
    direction: ltr!important;
    text-align: right!important;
}

.product-details .product-price .current-price {
    margin-right: 0;
    margin-left: 4px;
    float: right;
}